@charset "utf-8";
body {
	margin: 0px;
	color: #000000;
	font-family: Helvetica, Arial, sans-serif;
	background-color: #000000;
	background-image: url(images/background.jpg);
	background-repeat: no-repeat;
	background-attachment:fixed;
	background-position: center;
}
#wrapper {
	width: 100%;
	min-width: 740px;
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
	background-color: #E92B2E;
	background-image: url(url);
}
#top {
    overflow: hidden;
}
#hero img {
	max-width: 100%;
}

h1 {
	font-size: 60px;
	margin-top: 0px;
	margin-bottom: 0px;
	text-align: center;
	color: #FFFFFF;
}
h2 {
	margin-top: 0.5em;
}
#main {
	width: 58%;
	margin-left: 400px;
	float: left;
	margin-right: 30px;
	margin-top: 30px;
	margin-bottom: 30px;
}



figure {
	display: block;
	width: 420px;
	margin-left: 335px;
	
	color: #FFFFFF
}
figure img {
	padding: 10px;
	-webkit-box-shadow: 1px 1px 15px #999999;
	box-shadow: 1px 1px 15px #999999;
}

figcaption {
	font-size: 0.875em;
	font-weight: bold;
	text-align: center;
	display: block;
	margin-top: 0.5em;
}
.centered {
	margin-left: auto;
	margin-right: auto;
}
.floatleft {
	float: left;
	margin-left: 0px;
	margin-right: 10px;
}
.floatright {
	float: right;
	margin-left: 10px;
	margin-right: 0px;
}
footer {
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 2%;
	background-color: #43a6cb;
	color: #000000;
}
a {
	font-weight: bold;
	text-decoration: none;
}
a:link {
	color: #FF6600;
}
a:visited {
	color: #FF944C;

}
a:hover, a:active, a:focus {
	color: #7F3300;
	text-decoration: underline;
}
#mainnav ul {
	list-style-type: none;
	margin-left: 315px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
article {
	font-family: Helvetica, Arial, sans-serif;
	text-align: center;
	text-decoration: none;
	color: #FFFFFF;
}

#mainnav a {
	width: 20%;
	display: block;
	float: left;
	text-align: center;
	text-transform: uppercase;
	color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	text-decoration: none;
}
#mainnav a:hover, #mainnav a:active, #mainnav a:focus, #mainnav a.thispage {
	background-color: #43A6CB;
	text-decoration: none;
}
